@font-face {
    font-family: 'LexendReg';
    src: url('../fonts/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: 'TradeExt';
    src: url('../fonts/Trade-Gothic-LT-Extended.ttf');
}

.footersub1 {
    padding: 115px 0 0 0;
}

.container h5 {
    color: rgb(84, 104, 231);
    font-size: 1.3rem;
}

.container ul li {
    color: rgb(245, 245, 245);
    list-style: none;
}

.lexendreg {
    font-family: 'LexendReg';
    font-size: 0.9rem;
}

.lexendlight {
    font-size: 1.5rem;
}

.tradeext {
    font-family: 'TradeExt';
}
