@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@font-face {
  font-family: CircularMed;
  src: url("/public/font/circular-std-medium-500.ttf");
}

@font-face {
  font-family: JosefinsBold;
  src: url("/public/font/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: JosefinsLight;
  src: url("/public/font/JosefinSans-Light.ttf");
}

@font-face {
  font-family: JosefinsItalic;
  src: url("/public/font/JosefinSans-Italic.ttf");
}

@font-face {
  font-family: JosefinsRegular;
  src: url("/public/font/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "TradeGothicLTExtended";
  src: url("/public/font/Trade-Gothic-LT-Extended.otf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("/public/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontserratRegular;
  src: url("/public/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("/public/font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: BiryaniBold;
  src: url("/public/font/Biryani-Bold.ttf");
}

.circularmed {
  font-family: "CircularMed";
}

.josefinsbold {
  font-family: "JosefinsBold";
}

.josefinslight {
  font-family: "JosefinsLight";
}

.josefinsitalic {
  font-family: "JosefinsItalic";
}

.montserratmedium {
  font-family: "MontserratMedium";
}

.montserratbold {
  font-family: "MontserratBold";
}

.tradeext {
  font-family: "TradeGothicLTExtended";
}

.montserratregular {
  font-family: "MontserratRegular";
}

.biryanibold {
  font-family: "BiryaniBold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(22, 137, 190);
}

header img {
  margin-top: -1px;
  width: 132px;
}

big {
  font-family: "JosefinsRegular";
  font-size: 1.4em;
}

nav-link {
  padding-right: 100px;
}

.logo {
  width: 132px;
  height: auto;
}

.navbar {
  box-shadow: none;
}

.nav-link {
  position: relative;
  font-size: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: black;
}

.nav-link::after {
  content: "";
  border-radius: 35px;
  height: 4px;
  width: 100%;
  background-color: rgb(223, 105, 81);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.sub-nav {
  display: none;
  position: absolute;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  width: 200%;
}

.nav-link:hover .sub-nav {
  display: block;
}

Footer {
  background-color: rgb(35, 35, 64);
  padding: 0 0 115px 0;
}

Footer img {
  width: 175px;
}
