@font-face {
    font-family: 'CircularMed';
    src: url('/src/fonts/circular-std-medium-500.ttf');
}

.logo {
    width: 132px;
    height: auto;
}

.circularmed {
    font-family: 'CircularMed';
}

.nav-link {
    position: relative;
    font-size: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-link::after {
    content: '';
    border-radius: 35px;
    height: 4px;
    width: 100%;
    background-color: rgb(223, 105, 81);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;

}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

.sub-nav {
    display: none;
    position: absolute;
    background-color: #343a40;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 200%;
}

.nav-link:hover .sub-nav {
    display: block;
}