.layoutStyle {
  overflow: hidden;
  width: 100%;
  background-color: #f7f7f7;
}

.headerStyle {
  text-align: center;
  color: #fff;
  height: 150;
  padding-inline: 48;
  line-height: 64px;
  background-color: #f7f7f7;
}

.contentStyle {
  text-align: center;
  line-height: 120px;
  color: #fff;
  min-height: 85vh;
}

.siderStyle {
  text-align: center;
  line-height: 120px;
  color: #fff;
}

.footerStyle {
  text-align: center;
  color: #fff;
}
