.layoutStyle {
  overflow: hidden;
  width: 100%;
}

.headerStyle {
  text-align: center;
  color: #fff;
  height: 150;
  padding-inline: 48;
  line-height: 64px;
  background-color: #4096ff;
}

.contentStyle {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #0958d9;
  min-height: 85vh;
}

.siderStyle {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #1677ff;
}

.footerStyle {
  text-align: center;
  color: #fff;
  background-color: #4096ff;
}
